# elasticsearch version needs to be enforced here to compatible with both web and hub components
elasticsearch==6.3.1
elasticsearch-dsl==6.3.1
-e git+http://github.com/biothings/biothings.api.git@1618e16c3cea28eda21255fcce6648413e6a3655#egg=biothings[hub]
Jinja2>=2.9.6
