{% extends "main.html" %}
{% block content %}
<section id="index-app">
	<div class="container-fluid" style="min-height:80vh;">

		<div id="home" class="jumbotron text-center">
			<img src="/static/img/logo.png" width="100px" alt="Outbreak API" />
			<h1 id="logo">
				Outbreak API
			</h1>
			<div>
				<p>
					This site is a collection of APIs developed from the <a href="http://sulab.org/" target="_blank" rel="noreferrer">Su</a> / <a href="http://wulab.io/" target="_blank" rel="noreferrer">Wu</a> Labs at Scripps Research on COVID-19-related data and resources. These APIs provide all the data at outbreak.info(link), which is a resource to collect, share, and integrate COVID-19 and SARS-CoV-2 data critical to for scientific research.
				</p>
				<p class="w-75 m-auto text-dark">
					 They were built using
					<a rel="noopener"  class="link" href="https://biothingsapi.readthedocs.io/en/latest/" target="_blank">BioThings SDK</a> and follow the same design pattern of our official BioThings APIs (<a rel="noopener"  class="link" href="https://mygene.info" target="_blank">MyGene.info</a>,
					<a rel="noopener" class="link" href="https://myvariant.info" target="_blank">MyVariant.info</a>, <a rel="noopener"  class="link" href="https://mychem.info" target="_blank">MyChem.info</a>, etc). These APIs are also pending to be integrated into the proper official BioThings API based on their entity type.
				</p>
			</div>
		</div>

    <div id="pending" class="jumbotron bg-light text-dark text-center">
			<div class="py-3">
				<div class="text-dark font-weight-light">
					<h3>(<span v-text="pending.length"></span>) APIs</h3>
				</div>
				<div style="overflow-x:hidden;" class="mb-5">
					<div class="row" style="overflow-x:hidden;">
						<table class="table table-light table-striped table-sm table-hover sortable m-auto col-sm-12 col-md-7" style="overflow-x:hidden;">
							<thead class="text-light bg-sec">
								<tr>
									<th scope="col">Name</th>
									<th scope="col" class="d-none d-md-table-cell">Documents</th>
									<th scope="col" class="d-none d-md-table-cell">Entity Type</th>
									<th scope="col">Try It</th>
								</tr>
							</thead>
							<tbody>
								<template v-for="(api,index) in pending"  v-if="index < shown">
									<api-box :api="api" :key="index"></api-box>
								</template>
							</tbody>
						</table>
					</div>
				</div>
				<div class="mb-5 w-100 p-3 bg-secondary" v-if="shown < pending.length">
					<button class="btn btn-outline-dark text-dark" @click="shown = shown+10">Load More</button>
				</div>
			</div>
    </div>

	</div>
</section>



{% endblock %}
	{% block extra_scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script src="/static/js/sortable.js"></script>
	<script>
  AOS.init();

	Vue.component('api-box', {
  data: function(){
    return{
			loading:false,
			metadata:null,
			existingEntity:false,
			localMode:false
    }
  },
  props: ['api'],
  methods:{
		getMetadata(name){
			let self = this;
			let safeList = ['gene','chemical','variant','disease']
			self.loading = true;
			let base ='/';
			if (self.localMode) {
				base = 'https://api.outbreak.info/';
			}else {
				base ='/';
			}
			axios.get(base+name+'/metadata').then(res=>{
				self.loading = false;
				self.metadata = res.data
				if (self.metadata.hasOwnProperty('doc_type')) {
					if (safeList.includes(self.metadata['doc_type'])) {
						self.existingEntity = true
					}
				}
				else if (self.metadata.hasOwnProperty('biothing_type')) {
					if (safeList.includes(self.metadata['biothing_type'])) {
						self.existingEntity = true
					}
				}
			}).catch(err=>{
				self.loading = false;
				throw err;
			})
		},
		numberWithCommas() {
			let self = this;
			let x = null
			if (self.metadata.hasOwnProperty('src')) {
				for (var key in self.metadata.src) {
					if (self.metadata.src[key].hasOwnProperty('stats')) {
						for (var k in self.metadata.src[key]['stats']) {
							x += self.metadata.src[key]['stats'][k]
						}
					}
				}
				if (x) {
					return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
				}else{
					return 'N/A'
				}

			}
		},
		numberWithNOCommas() {
			let self = this;
			let x = null
			if (self.metadata.hasOwnProperty('src')) {
				for (var key in self.metadata.src) {
					if (self.metadata.src[key].hasOwnProperty('stats')) {
						for (var k in self.metadata.src[key]['stats']) {
							x += self.metadata.src[key]['stats'][k]
						}
					}
				}
				if (x) {
					return x
				}else{
					return 'N/A'
				}

			}
		},
		getFirstKeyName(obj){
			return Object.keys(obj)[0]
		},
  },
  watch:{
  },
  mounted: function(){
		let self = this;

		// http://localhost:8000/covid19?base=localhost
		// use this param to query prod site instead of localhost

		var url_string = window.location.href
		var url = new URL(url_string);
		var param = url.searchParams.get("base");
		if (param && param === 'prod') {
			self.localMode = true;
		}

		if (self.api["_id"]) {
			self.getMetadata(self.api["_id"])
		}

  },
  template: `<tr>
							<td class="text-left">
								<template v-if='api && api["status"]'>
									<i class="fas " :title='api["status"]' v-bind:class="[api['status'] === 'running' ? 'text-success fa-check-circle' : 'text-danger fa-exclamation-circle' ]"></i>
								</template>
								<span class="font-weight-bold apiTitle d-inline" v-text='api["_id"]'></span>
								<div v-if='loading' class="d-inline text-warning">
									Loading ... <i class="fas fa-spinner fa-pulse"></i>
								</div>
							</td>
							<td class="d-none d-md-table-cell">
								<template v-if="metadata && metadata.src">
									<small v-text="numberWithCommas()" ></small>
								</template>
							</td>
							<td class=" d-none d-md-table-cell">
								<template v-if="metadata">
									<div v-if="metadata.biothing_type" class="badge alert-secondary text-dark d-inline m-1 p-1">
										<span v-text="metadata.biothing_type"></span>
									</div>
									<div v-if="metadata.doc_type" class="badge alert-secondary text-dark d-block p-1">
										<span v-text="metadata.doc_type"></span>
									</div>
								</template>
							</td>
							<td>
								<div>
									<a class="btn btn-outline-dark" :href="'./'+api['_id']">Try It <i class="fas fa-chevron-right"></i></a>
								</div>
							</td>
						</tr>`
});

  var app = new Vue({
    el: '#index-app',
    data: function(){
      return {
         pending:[],
         shown:20,
         query:"",
         apiSelected:'',
         querySelected:'',
         queryString:'',
         querySelectionType:'example',
         success: false,
				 apiList:[],
				 context:{}
      }
    },
    methods: {

    },
      mounted:function(){
				let self = this;
				if ({{Context}}) {
					self.context = {{Context}}
					self.pending = self.context.List
				}
      }
  });
	</script>
	{% endblock %}
