{% extends "main.html" %}
{% block content %}
<style>
.text-grey{
	color: #bcc0c3;
}
</style>
<section id="index-app">
	<div class="container-fluid" style="min-height:80vh;">

		<img alt="Outbreak API" src="/static/img/back.png" width="100%" class="mt-3"/>
		<div id="home" class="jumbotron text-center">
			<div class="p-3">
				<a href="#pending">
					<h1>Try It</h1>
				</a>
			</div>
			<div class="row m-0">
				<div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-top border-top">
					<div class="p-2">
						<h1><i class="fas fa-info-circle text-grey"></i></h1>
						<h3>About</h3>
						<p>
							This site is a collection of APIs developed from the <a href="http://sulab.org/" target="_blank" rel="noreferrer">Su</a> / <a href="http://wulab.io/" target="_blank" rel="noreferrer">Wu</a> Labs at Scripps Research on COVID-19-related data and resources. These APIs provide all the data at <a href="https://outbreak.info/" rel="noreferrer" target="_blank">outbreak.info</a>, which is a resource to collect, share, and integrate COVID-19 and SARS-CoV-2 data critical to scientific research.
						</p>
					</div>
				</div>
				<div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-top border-top">
					<div class="p-2">
						<h1><i class="fas fa-pencil-ruler text-grey"></i></h1>
						<h3>Design</h3>
						<p>
							 These APIs were built using
							<a rel="noopener" href="https://biothingsapi.readthedocs.io/en/latest/" target="_blank">BioThings SDK</a> and follow the same design pattern of our official BioThings APIs (<a rel="noopener" href="https://mygene.info" target="_blank">MyGene.info</a>,
							<a rel="noopener" href="https://myvariant.info" target="_blank">MyVariant.info</a>, <a rel="noopener" href="https://mychem.info" target="_blank">MyChem.info</a>, etc). These APIs are also pending to be integrated into the proper official BioThings API based on their entity type.
						</p>
					</div>
				</div>
				<div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-top border-top">
					<div class="p-2">
						<h1><i class="fas fa-book text-grey"></i></h1>
						<h3>Docs</h3>
						<p>
							Since these APIs follow the same design pattern as our BioThings APIs, you may refer to the following <a rel="noopener" href="https://mychem.info" target="_blank">MyChem.info</a> API <a href="https://docs.mychem.info/en/latest/doc/chem_query_service.html" target="_blank" rel="noreferrer">documentation</a> as a guide on how to use these APIs. Additionally, you may try the live APIs on the <a href="#TryIt">Try It</a> pages below.
						</p>
					</div>
				</div>
			</div>
		</div>

    <div id="pending" class="jumbotron bg-light text-dark text-center">
			<div class="py-3">
				<div class="text-dark font-weight-light">
					<h1 id="TryIt">Outbreak APIs</h1>
					<small>(<span v-text="pending.length"></span>) APIs</small>
				</div>
				<div class="mb-5 container d-flex justify-content-center flex-wrap">
					<template v-for="(api,index) in pending">
						<api-box :api="api" :desc="api.description" :key="index"></api-box>
					</template>
				</div>
				<div class="mb-5 w-100 p-3 bg-secondary" v-if="shown < pending.length">
					<button class="btn btn-outline-dark text-dark" @click="shown = shown+10">Load More</button>
				</div>
			</div>
    </div>

	</div>
</section>



{% endblock %}
	{% block extra_scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script src="/static/js/sortable.js"></script>
	<script>
  AOS.init();

	Vue.component('api-box', {
  data: function(){
    return{
			loading:false,
			metadata:null,
			existingEntity:false,
			localMode:false
    }
  },
  props: ['api','desc'],
  methods:{
		getMetadata(name){
			let self = this;
			let safeList = ['gene','chemical','variant','disease']
			self.loading = true;
			let base ='/';
			if (self.localMode) {
				base = 'https://api.outbreak.info/';
			}else {
				base ='/';
			}
			axios.get(base+name+'/metadata').then(res=>{
				self.loading = false;
				self.metadata = res.data
				if (self.metadata.hasOwnProperty('doc_type')) {
					if (safeList.includes(self.metadata['doc_type'])) {
						self.existingEntity = true
					}
				}
				else if (self.metadata.hasOwnProperty('biothing_type')) {
					if (safeList.includes(self.metadata['biothing_type'])) {
						self.existingEntity = true
					}
				}
			}).catch(err=>{
				self.loading = false;
				throw err;
			})
		},
		numberWithCommas() {
			let self = this;
			let x = null
			if (self.metadata.hasOwnProperty('src')) {
				for (var key in self.metadata.src) {
					if (self.metadata.src[key].hasOwnProperty('stats')) {
						for (var k in self.metadata.src[key]['stats']) {
							x += self.metadata.src[key]['stats'][k]
						}
					}
				}
				if (x) {
					return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
				}else{
					return 'N/A'
				}

			}
		},
		numberWithNOCommas() {
			let self = this;
			let x = null
			if (self.metadata.hasOwnProperty('src')) {
				for (var key in self.metadata.src) {
					if (self.metadata.src[key].hasOwnProperty('stats')) {
						for (var k in self.metadata.src[key]['stats']) {
							x += self.metadata.src[key]['stats'][k]
						}
					}
				}
				if (x) {
					return x
				}else{
					return 'N/A'
				}

			}
		},
		getFirstKeyName(obj){
			return Object.keys(obj)[0]
		},
  },
  watch:{
  },
  mounted: function(){
		let self = this;

		// http://localhost:8000/covid19?base=localhost
		// use this param to query prod site instead of localhost

		var url_string = window.location.href
		var url = new URL(url_string);
		var param = url.searchParams.get("base");
		if (param && param === 'prod') {
			self.localMode = true;
		}

		if (self.api["_id"]) {
			self.getMetadata(self.api["_id"])
		}

  },
  template: `<div class="border rounded m-1 p-3">
							<h2 class="text-center">
								<template v-if='api && api["status"]'>
									<i class="fas " :title='api["status"]' v-bind:class="[api['status'] === 'running' ? 'text-success fa-check-circle' : 'text-danger fa-exclamation-circle' ]"></i>
								</template>
								<span class="font-weight-bold apiTitle d-inline" v-text='api["_id"]'></span>
								<div v-if='loading' class="d-inline text-warning">
									Loading ... <i class="fas fa-spinner fa-pulse"></i>
								</div>
							</h2>
							<p template v-if="desc" v-text="desc">

							</p>
							<p class="text-center">
								<template v-if="metadata && metadata.src">
									<span v-text="numberWithCommas()" ></span> documents
								</template>
							</p>
							<div class="text-center">
								<template v-if="metadata">
									<template v-if='api["config"]["doc_type"]'>
									<div class="badge alert-secondary text-dark d-inline m-1 p-1">
										<span v-text='api["config"]["doc_type"]'></span>
									</div>
									</template>
									<template v-else>
										<div v-if="metadata.biothing_type" class="badge alert-secondary text-dark d-inline m-1 p-1">
											<span v-text="metadata.biothing_type"></span>
										</div>
										<div v-if="metadata.doc_type" class="badge alert-secondary text-dark d-block p-1">
											<spanv-text="metadata.doc_type"></span>
										</div>
									</template>
								</template>
							</div>
							<div v-if="api['link']" class="text-center p-2">
								<a class="btn btn-outline-dark" :href="api['link']">Try It <i class="fas fa-chevron-right"></i></a>
							</div>
							<div v-else class="text-center p-2">
								<a class="btn btn-outline-dark" :href="'./try/'+api['_id']">Try It <i class="fas fa-chevron-right"></i></a>
							</div>
						</div>`
});

  var app = new Vue({
    el: '#index-app',
    data: function(){
      return {
         pending:[],
         shown:20,
         query:"",
         apiSelected:'',
         querySelected:'',
         queryString:'',
         querySelectionType:'example',
         success: false,
				 apiList:[],
				 context:{}
      }
    },
    methods: {

    },
      mounted:function(){
				let self = this;
				if ({{Context}}) {
					self.context = {{Context}}
					self.pending = self.context.List
				}
      }
  });
	</script>
	{% endblock %}
